<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container mt-5 w-50 bg-dark text-light p-5 rounded-5">
        <div class="row">
            <div class="col-8">
                <h1>Hello Ziya!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui quae perferendis dolorum rem
                    repellendus at aperiam accusamus, adipisci modi quod autem ullam. Quos eveniet quae iusto eaque est
                    doloremque dolore ea recusandae porro voluptatum rerum, corrupti possimus facilis aut reiciendis
                    delectus
                    alias soluta animi fuga. Ad repudiandae delectus distinctio?</p>
            </div>

            <div class="col-4">
                <img src="https://yevlax.kobim.az/images/experts/e058156e-06f3-4873-b002-b64624b54b28_1608683175.JPG" alt="Ziya" class="rounded" width="100%">
            </div>
        </div>

    </div>
</body>

</html>